@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand-500: #0b74ff;
  --bg: #0f172a;
}

html,body,#root{
  height:100%;
}

body{
  @apply bg-white text-slate-900 antialiased;
}

.dark body{
  @apply bg-slate-900 text-slate-100;
}
